@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Inter:wght@400;500;600;700&display=swap");

@import "tailwindcss";

body {
  margin: 0;
  background: #0C0B14;
  font-family: "Inter", sans-serif;
}
/* Hide scrollbar but keep scrolling */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}